*{margin:0;
    padding:0;
  }


.sfondo{
    background-image: url(../img/sfondo.png);
    width: 100%;
    height: 180px;
    background-color: lightskyblue;
    background-repeat: repeat;  
}

.logo{
    width: 300px;
    height: 100px;
    margin-top:80px;
    margin-left:10px;
}

h1{
    font-size: 70px;
    margin-top: 30px;
}

.autore{
    color:grey;
}

.link{
    color:cyan;
    text-decoration:none;  
}

h5{
    margin-top:10px;
    color:grey;
}

.foto-tim{
    margin-left:10px;
    margin-top:20px;    
}
.descrizione{
    margin-left:10px;
 }
    

.tim1{
    width: 600px;
    height:500px;
}
.tim2{
    width: 600px;
    height:500px;
}
.testo{
    margin-top:20px;
    margin-left: 10px;
}


.lista{
    margin-left: 30px;
    margin-top:30px;
}

table{
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    text-align: left;
    margin-left:10px;
}

th,td{
    padding: 15px;
}


.row-blue{
    background-color:lightblue;
    
}


thead{
    color:white;
    background-color:deepskyblue;   
}

.col-1{width: 25%;

}
.col-2{width: 25%;

}

.col-3{width: 50%;

}
.fine{
    color: grey;
    margin-top:20px;
    margin-left:10px;
}
.foto1{
    width: 300px;
    height: 200px;
    background-image: url(../img/foto1.jpg);
    text-align: center;
    font-size:30px;
    color:white;
    margin-left:10px;
    padding:10px;
}
.foto2{
    width: 300px;
    height: 200px;
    background-image: url(../img/foto2.jpg);
    text-align: center;
    font-size:30px;
    color:white;
    margin-left:10px;
    margin-top:20px;
    padding:10px;
}

